flow3/flows.json
[
    {
        "id": "f6469a29ac3eef02",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2a53742e8f7a8d3",
        "type": "inject",
        "z": "f6469a29ac3eef02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "000448a5b44fb259"
            ]
        ]
    },
    {
        "id": "4b393529189e0aeb",
        "type": "debug",
        "z": "f6469a29ac3eef02",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "000448a5b44fb259",
        "type": "function",
        "z": "f6469a29ac3eef02",
        "name": "function 2",
        "func": "// Crea un objeto Date a partir del msg.payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al siguiente nodo\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "4b393529189e0aeb",
                "ac4e753afb822388"
            ]
        ]
    },
    {
        "id": "ac4e753afb822388",
        "type": "ui_text",
        "z": "f6469a29ac3eef02",
        "group": "eaa58f4841a25fc6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "eaa58f4841a25fc6",
        "type": "ui_group",
        "name": "Fecha y Hora",
        "tab": "7f9b31381f1e83f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f9b31381f1e83f7",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]